body {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   font-family: "Roboto", sans-serif;
   letter-spacing: 0.02em;
}

a,
button {
   text-decoration: none;
   cursor: pointer;
}

/*Color of a hover link */
a:hover {
   color: #404BBF;
}

.logo {
   font-weight: 800;
   font-size: 18px;
   line-height: 1.3;
   font-style: "Raleway", sans-serif;
   letter-spacing: 0.54px;
   text-transform: uppercase;
   word-spacing: -0.2em;
}

.web_logo {
   color: #4D5AE5;
}

.studio_black_logo {
   color: #2E2F42;
}

.studio_white_logo {
   color: white;
}

ul {
   list-style: none;
}

.hero {
   background-color: #2E2F42;
   color: white;
}

.hero h1 {
   font-weight: 700;
   font-size: 56px;
   width: 496px;
}

.hero button {
   background-color: #4D5AE5;
   color: white;
}

.hero button:hover {
   background-color: #404BBF;
}

.team {
   background-color: #F4F4FD;
}

h2,
.team h3,
.team p {
   text-align: center;
}

footer {
   background-color: #2E2F42;
}

footer p {
   color: white;
   width: 264px;
}

.filter-button {
   background-color: #F4F4FD;
   color: #4D5AE5;
   border: none;
}

.filter-button:hover {
   background-color: #404BBF;
   color: white;
}