html {
   font-family: "Roboto", sans-serif;
}

body {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}


/*Adjustment of space between WEB and STUDIO */
.logo {
   word-spacing: -0.2em;
   font-family: Raleway;
   font-size: 18px;
   font-style: normal;
   font-weight: 800;
   line-height: 21px;
   letter-spacing: 0.54px;
   text-transform: uppercase;

}

/*For the color of the word WEB */
.web {
   color: #4D5AE5;
   
}

/*For the color of the word STUDIO on Topline */
.studio_black {
   color: #2E2F42;
}

/*For the color of the word STUDIO on Footer */
.studio_white {
   color: white;
}


/*Remove bullets to all lists */
ul {
   list-style: none;
}

/*Remove underlines to all links and set cursor to pointer */
a {
   text-decoration: none;
   cursor: pointer;
}

/*Color of an active link */
a:active {
   color: #404BBF;
}

/*Color of a hover link */
a:hover {
   color: #404BBF;
}

/*Remove underlines of links and set the font to normal */
address a {
   text-decoration: none;
   font-style: normal;
}

/*Set background color of hero section*/
.hero {
   background-color: #2E2F42;
   color: white;
}

/*Set style for hero > h1 */
.hero h1 {
   font-weight: 700;
   font-size: 56px;
   letter-spacing: 0.02em;
   line-height: 1.071;
   width: 496px;
}

/*Set style for hero > button */
.hero button {
   border-radius: 4px;
   background: var(--iris, #4D5AE5);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   color: white;
}

/*Button hover*/
.hero button:hover {
   background-color: #404BBF;
}

/* h2 to align center*/
h2 {
   text-align: center;
}

/* Set background color for team section */
.team {
   background-color: #F4F4FD;
}

.team h3,
.team p {
   text-align: center;
}

/* Set background color for footer */
footer {
   background-color: #2E2F42;
}

/* Set font color for footer p and width*/
footer p {
   color: white;
   width: 264px;
}

/* For filter buttons */

.filter-button {
   padding: 10px 20px;
   background-color: #F4F4FD;
   color: #4D5AE5;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.filter-button:hover {
   background-color: #404BBF;
   color: white;
}