:root {
   --primary-brand-color: #4D5AE5;
   --pressed-state: #404BBF;
   --body-text-color: #434455;
   --accent-color: #E7E9FC;
   --primary-white-color: #FFFFFF;
   --dark-color: #2E2F42;
   --light-mode-color: #F4F4FD;
   --herobackground-headings: #2E2F42;

}

@font-face {
   font-family: logo;
   src: url("/fonts/Raleway-ExtraBold.ttf");
}

/* Reset some default styles */
body,
h1,
h2,
h3,
p {
   margin: 0;
   padding: 0;
}

* {
   box-sizing: border-box;
}

body {
   background-color: var(--primary-white-color);
   color: var(--body-text-color);
   font-size: 16px;
   font-family: "Roboto", sans-serif;
   letter-spacing: 0.02em;
}

ul {
   list-style: none;
}

h2 {
   margin-bottom: 72px;
   text-align: center;
}

h3 {
   margin-bottom: 8px;
}


h2,
h3 {
   color: var(--herobackground-headings);
}

.nav-menu a:hover,
.nav-menu a:focus,
.contacts-menu a:hover,
.contacts-menu a:focus{
   color: var(--pressed-state);
}

/*header section -- all pages*/
.header-section {
   border-bottom: 1px solid var(--accent-color);
}

/* header section: WEBSTUDIO logo */
.header-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 1158px;
   height: 70px;
   margin-right: auto;
   margin-left: auto;
   padding-top: 25.5px;
   padding-bottom: 25.5px;
}

.web_logo {
   color: var(--primary-brand-color);
}

.studio_black_logo {
   color: var(--dark-color);
}

.studio_white_logo {
   color: var(--primary-white-color);
}

/* header section: navigation menu */
.nav-container {
   display: flex;
   align-items: center;
}

.logo {
   color: var(--accent-color);
   font-family: logo;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.3;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   word-spacing: -0.2em;
   text-decoration: none;
   display: flex;
}

.nav-menu {
   display: flex;
   gap: 40px;
}

.nav-menu li:first-child {
   margin-left: 78px;
}

/* header section: contacts menu */
.contacts-menu {
   display: flex;
   justify-content: flex-end;
   gap: 40px;
}

.contacts-menu li:first-child {
   margin-right: 40px;
}


/* navigation menu and contacts-menu */

.nav-menu a,
.contacts-menu a {
   text-decoration: none;
   color: var(--dark-color);
}

.nav-menu-list>.page-current {
   color: var(--pressed-state);
}

/* hero section -- index.html*/
.hero {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 600px;
   width: 1440px;
   margin-right: auto;
   margin-left: auto;
   /* Adjust this value based on your layout */
   background-color: var(--herobackground-headings);
}

.hero {
   margin-right: auto;
   margin-left: auto;
   text-align: center;
}

.hero-title {
   font-size: 56px;
   margin-bottom: 20px;
   color: var(--primary-white-color);
   width: 496px;
   margin-right: auto;
   margin-left: auto;
}

.hero-button {
   padding: 10px 20px;
   font-size: 16px;
   background-color: var(--primary-brand-color);
   border-color: transparent;
   cursor: pointer;
   height: 56px;
   width: 169px;
   color: var(--primary-white-color);
   margin-top: 48px;
}

.hero-button:hover {
   background-color: var(--pressed-state);
}

.hero-button:active {
   background-color: var(--primary-brand-color);
}

.features-section,
.what-are-we-doing-section,
.team-section {
   padding: 40px 0;
   margin-bottom: 120px;
}

.section-container {
   max-width: 1158px;
   margin: 0 auto;
}

.features-list,
.what-are-we-doing-list,
.team-list {
   list-style: none;
   padding: 0;
   display: flex;
   gap: 20px;
}

.team-section {
   background-color: var(--light-mode-color);
   padding-bottom: 120px;
   margin-bottom: 0;
}

.team-list-item {
   display: inline-flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 0px 0px 4px 4px;
   background-color: var(--primary-white-color);
   box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-item img {
   margin-bottom: 32px;
}


.team-list-item-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 8px;
}

.team-list-item p {
   margin-bottom: 32px;
}


.what-are-we-doing-list-item:not(:last-child),
.team-list-item:not(:last-child) {
   margin-right: 24px;
}


/*footer section -- all pages*/
.footer-section {
   background-color: var(--herobackground-headings);
}

.filter-section-container {
   display: grid;
   width: 1158px;
   margin-right: auto;
   margin-left: auto;
}

.filter-buttons {
   display: flex;
   margin-bottom: 72px;
   margin-top: 72px;
   justify-content: center;
}

.filter-buttons-item {
   margin-right: 24px;
}

/* filter buttons in portfolio page*/

.filter-button,
.filter-button-current {
   background-color: var(--light-mode-color);
   color: var(--primary-brand-color);
   border-color: transparent;
   padding: 12px 24px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   cursor: pointer;
   display: flex;
}

/*
.filter-button-current {
    background-color: var(--pressed-state);
    color: var(--primary-white-color);
    border-color: transparent;
}
*/
.filter-button:hover,
.filter-button:focus {
   background-color: var(--pressed-state);
   color: var(--primary-white-color);
   border-color: transparent;
   box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.project-cards {
   list-style: none;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 24px;
   margin-bottom: 120px;
   margin-left: auto;
   margin-right: auto;
}

.project-card-item {
   display: flex;
   width: 360px;
   height: 420px;
   padding-bottom: 0px;
   flex-direction: column;
   align-items: flex-start;
   column-gap: 32px;
   flex-shrink: 0;
   border-bottom: 1px solid var(--accent-color);
   border-right: 1px solid var(--accent-color);
   border-left: 1px solid var(--accent-color);
}

.project-card-item img {
   margin-bottom: 32px;
}

.project-card-item p {
   margin-bottom: 32px;
}

.project-card-item h3,
.project-card-item p {
   padding-left: 16px;
}

.footer-section-container {
   width: 1158px;
   height: 312px;
   margin-right: auto;
   margin-left: auto;
   padding-top: 101.5px;
}

.footer-section-container p {
   color: var(--light-mode-color);
   width: 264px;
}