:root {
    --primary-brand-color: #4D5AE5;
    --pressed-state: #404BBF;
    --body-text-color: #434455;
    --accent-color: #E7E9FC;
    --primary-white-color: #FFFFFF;
    --dark-color: #2E2F42;
    --light-mode-color: #F4F4FD;
    --herobackground-headings: #2E2F42;

}

body {
    background-color: var(--primary-white-color);
    color: var(--body-text-color);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
}

/* WEBSTUDIO logo */
.logo {
    color:var(--accent-color);
    font-style: "Raleway", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h2, h3 {
    color: var(--herobackground-headings);
}